input{
    border: solid 1px black;
    font-family: fantasy;
    font-size: medium;
    width:500px;
}
body{
    font-family: fantasy;

}
#main_info{
    float:left;

}
#combat{
float:left;
}
#more_info{
float:left;
}
fieldset{
    margin: 30px;
}
